{% extends 'partials/_master.twig' %} 
{% set temp = record.related()[0] %}
{% set slug= record.slug %} {% setcontent relatedrecords = 'entries' where { tutorialid: temp.id } %}
{% block main %}
<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col">
                {%include 'partials/_sub_head.twig'%}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding-right:15px;padding-left:25px;margin-left:0px;">
                {{ include('partials/_aside2.twig') }}
            </div>
            <div class="col-md-8">
                <div class="card" style="margin-right:0px;margin-left:-15px;">
                    <div class="card-body">
                        {% for related in relatedrecords %} {% set slug2 =related.slug %} {% if slug == slug2 %} {% if related.image is not empty
                        %}
                        <img class="d-block" style="margin:0 auto;" src="/thumbs/640x480c/2018-06/{{ related.image|default() }}"> {% endif %} {% if related.video is not empty %} {% set ids = related.video %} {% for id in ids %}
                        <video controls preload="metadata" width="560" height="315">
                            <source src="http://bolt.independent-tutorials.local/files/2018-06/{{id.title}}" type="video/webm">
                            <source src="http://bolt.independent-tutorials.local/files/2018-06/{{id.title}}" type="video/mp4">
                        </video>
                        {% endfor %} {% endif %}
                        <h4 class="card-title">{{ related.title }}</h4>
                        <p class="card-text">{{ related.body }}</p>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
