{# Erbt von der Master #}
{% extends 'partials/_master.twig' %} 

{# Der Main-Block wird definiert, wo die anzuzeigenden Elemente dargestellt werden #}
{% block main %}

<section class="section section-listing">
    <div class="article-list" style="padding-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-left">Deine Suche ergab folgende Ergebnisse:</h2>
                </div>
            </div>
            <div class="container">
                
                {% setcontent block = "block/search-teaser" %} 
                
{# Überprüft, ob Inhalt vorhanden ist, wenn das der fall ist, wird der teaser angezeigt #} 
                {% if block.content is defined %}
                <div class="content">
                    {{ block.content }}
                </div>
                {% endif %}

                {# Der Suchbutton wird mit seiner Funktion implementiert #}
                <form class="field has-addons" method="get" action="{{ path('search') }}" enctype="text/plain">

                    {# Die eingegebenen Daten werden durch einen von Bolt implementierten Algorithmus geschcikt, der dann die Ergebnisse nach relevantheit filtert #} 
                    <input class="d-inline-block search-input" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}"
                        type="search" name="search" placeholder="Finde Tutorien" autocomplete="off" style="width:400px;margin-left:auto;margin-right:6px;">
                    <button class="btn btn-light d-inline-block search-btn" type="submit" style="margin-right:0;margin-left:0;padding:10px;width:46px;height:46px;margin-bottom:3px;">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
</section>
<section class="section section-listing">

    <div class="container">

{# Die gefundenden Ergebnisse werden untereinander aufgeblistet #}
        {% for record in records %}
        <div class="row" style="padding-top:15px;padding-bottom:30px;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        
{# Wenn ein Bild vorhanden ist, wird es an dieser Stelle eingebuden #}
                        {% if record.image is not empty %}
                        <a href="{{ record.link }}">
                            <img class="img-fluid d-block" src="/thumbs/640x480c/2018-06/{{ record.image|default() }}" style="margin:0 auto;width:360px;">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h3 class="title">

{# Der zugewiesene Titel des Tutorials wird mit einer Verlinkung zum Tutorial eingebuden #}
                            <a href="{{ record.link }}">{{ record.title }}</a>
                        </h3>
                        <p class="description">{{ record.excerpt(300, false, search|default('')) }}</p>
                        <div class="btn-toolbar">
                            <div class="btn-group" role="group" style="padding:15px;">
{# Ein Button mit einer direkten Verlinkung zum Tutorial wird eingebunden #}
                                <a href="{{ record.link }}">
                                    <button class="btn btn-light" href="{{ record.link }}" type="submit" style="padding-left:11px;margin-left:0px;margin-right:15px;">Zum Kurs</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{# Sollte keine Suchergebnisse vorhanden sein, dann wird man darauf hingewiesen #}
        {% else %}
        <article role="article" class="media">
            <div class="media-content">
                <div class="content">
                    <p>Es konnte leider nichts gefunden werden.</p>
                </div>
            </div>
        </article>
        {% endfor %}
        
{# Sollten mehr als 10 Ergebnisse gefunden werden, wird eine weitere Seite erstellt, 
mit einer direkten verlinkung zur nächsten Seite #}
{{ pager(template = 'partials/_sub_pager.twig') }}
    </div>
</section>

{# Der Main-Block wird wieder geschlossen #}
{% endblock main %}
