{% extends 'partials/_master.twig' %}
{% set tid= record.id %}
{% set auth=auth().guid %}
{% set guid=auth %}
{% set relatedrecords = record.related('entries') %}  
{% set valueX = 1 %}
{% set id = record.id %}
{% setcontent visible = 'abo' where {guid: guid, tutorialid: id} %}
{% block main %}          
{% include 'partials/_sub_head.twig' %}
               <div style="margin-top:0px;padding-bottom:15px;">
        <div class="container">
            <div class="row">     
         <div class="row">
                <div class="col-md-4" style="padding-right:50px;padding-left:0px;margin-left:0px;padding-top:15px;padding-bottom:15px;">
                     {% if record.image is not empty %}
                                     <img class="d-block" id="tutorial_overview-image" style="margin:0 auto;width:300px;"
                             src="/thumbs/300x300c/2018-06/{{ record.image|default() }}"  />     
                     {% endif %}
             </div>
                <div class="col-md-8" style="padding:15px;">
                    <h1 style="font-size:24px;">Tutorial Overview: {{ record.title }}</h1>
                    <p>{{ record.teaser }}</p>
                    <div class="btn-toolbar">
                        <div class="btn-group" role="group" style="padding:15px;">
                            {% for related in relatedrecords %}
                            {% if valueX == 1 %}
                         <a href=" {{related.link}}">
                             <button class="btn btn-light" type="button" style="padding-left:11px;margin-left:0px;margin-right:15px;">Zum Kurs</button></a>
                            {% endif %}
                            {% set valueX = valueX + 1 %}
                            {%  endfor %}
                        </div>
                    </div>
                </div>        
                <div class="col" style="padding-top:0px;padding-right:30px;padding-left:30px;">
                    <h1 id="course-description-heading" style="font-size:24px;">Kursbeschreibung</h1>
                    <p>{{ record.body }}</p>
                    <div class="btn-toolbar">
                        <div class="btn-group" role="group" style="padding:15px;">
                        {% if auth_has_role('Member') or auth_has_role('Tutor') %}
                        {% if visible is empty %}
                            
{{boltforms('abo', override= {
                                    'guid': {
                                        options:{
                                            attr:{
                                                value: guid
                                                }
                                            }
                                        },
                                     'tutorialid': {
                                            options:{
                                                attr:{
                                                    value: tid
                                                    }
                                                }
                                            }    
                                        
                                    })}}
                           {% endif %}        
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                     
{% endblock main %}
