{# Diese Datei erstellt eine Uebersicht ueber alle abonierte Tutorien#}
{#Die Datei erbt an dieser Stelen von der master.twig#}
{% extends 'partials/_master.twig' %}
{#An dieser Stelle wir die Extension Auth eingebunden#}
{% set auth=auth().guid %}
{# Es wird die User-Id ausgelesen#}
{% set guid=auth %}
{#Hier beginnt der main Block#}
{% block main %}
{# Sobald ein User ein Tutor ist wird sein Tutorial Button zum Drop Down Menue in
dem er auswaehlen kann ob er seine eigenen Tutorien oder die abonierten Tutorien sehen will#}
{% if auth_has_role('Tutor')%}
{#{% setcontent abos='abo' where {guid:guid} %} #}
{% setcontent creates = "tutorials/latest/6" where {guid:guid} %}

<div class="article-list" style="padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Meine Tutorien</h2>
            </div>
        </div>
        {#an dieser Stellen rufen wir die Daten zu den Tutorien aus
        der Datenbank ab und filtern diese nach den User Ids#}
        {% setcontent tutorials= 'tutorials' where {guid :guid } %}
        {% for tutorial in tutorials %}
        <div class="row" style="padding-top:15px;padding-bottom:30px;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        
                        {% if tutorial.image is not empty %}
                        <a href="{{ tutorial.link }}">
                            <img class="img-fluid d-block" src="/thumbs/640x480c/2018-06/{{ tutorial.image|default() }}" style="margin:0 auto;width:360px;">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h3 class="name" href="{{ tutorial.link }}">{{ tutorial.title }}</h3>
                        <p class="description">{{ tutorial.excerpt }}</p>
                        <div class="btn-toolbar">
                            <div class="btn-group" role="group" style="padding:15px;">
                                <a href="{{ tutorial.link }}">
                                    <button class="btn btn-light" type="button" style="padding-left:11px;margin-left:0px;margin-right:15px;">Zum Kurs</button>
                                </a>
                                <button class="btn btn-light" type="button" style="margin-right:15px;">Kursteilnahme beenden</button>
                                <div class="btn-group" role="group" style="padding:15px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Solten noch keine Tutorien aboniert sein wird diese Meldung ausgegeben#}
        {% endfor %} {% if tutorials is empty and creates is empty %}
        <article role="article" class="media">
            <div class="media-content">
                <div class="content">
                    <p>Sie haben noch keine Tutorials.</p>
                </div>
            </div>
        </article>
        {% endif %}
        {#An dieser Stelle beginnt die Ansicht eines Members in der er seine abonierten Tutorien angezeigt bekommt#}
        {% elseif auth_has_role('Member') %} {% setcontent tutorialids = "abo" where {guid: guid} %}
        <div class="article-list" style="padding-bottom:15px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center">Meine Tutorien</h2>
                    </div>
                </div>
                {% for tutorialid in tutorialids %} {% setcontent tutorials = "tutorials/latest/6" where {id: tutorialid.tutorialid} %} {%
                for tutorial in tutorials %}
                <div class="row" style="padding-top:15px;padding-bottom:30px;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                {% if tutorial.image is not empty %}
                                <a href="{{ tutorial.link }}">
                                    <img class="img-fluid d-block" src="/thumbs/640x480c/2018-06/{{ tutorial.image|default() }}" style="margin:0 auto;width:360px;">
                                </a>
                                {% endif %}
                            </div>
                            <div class="col">
                                <h3 class="name" href="{{ tutorial.link }}">{{ tutorial.title }}</h3>
                                <p class="description">{{ tutorial.excerpt }}</p>
                                <div class="btn-toolbar">
                                    <div class="btn-group" role="group" style="padding:15px;">
                                        <a href="{{ tutorial.link }}">
                                            <button class="btn btn-light" type="button" style="padding-left:11px;margin-left:0px;margin-right:15px;">Zum Kurs</button>
                                        </a>
                                        <button class="btn btn-light" type="button" style="margin-right:15px;">Kursteilnahme beenden</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% if tutorials is empty %}
                <article role="article" class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>Sie haben noch keine Tutorials.</p>
                        </div>
                    </div>
                </article>
                {% endif %} {% endfor %}
                {#Sollte ein Unregistrieter Benutzer auf Tutorial klicken wird aufgefordert sich zu registrieren#}
                {% else %}
                <h4>Erstell dir ein Account, um Tutorials und die jeweiligen Fortschritte zu speichern.</h4>
                {% endif %} {% endblock %}
