{% extends 'partials/_master.twig' %} {% set auth=auth().guid %} {% set guid=auth %} {% block main %} {% if auth_has_role('Tutor')
%} {% setcontent abos='abo' where {guid:guid} %} {% setcontent creates = "tutorials/latest/6" where {guid:guid} %}
<div class="article-list" style="padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Meine Tutorien</h2>
            </div>
        </div>
        {% for abo in abos %} {% setcontent tutorials = "tutorials/latest/6" where {id: abo.tutorialid} %} {% for tutorial in tutorials
        %}
        <div class="row" style="padding-top:15px;padding-bottom:30px;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        {% if tutorial.image is not empty %}
                        <a href="{{ tutorial.link }}">
                            <img class="img-fluid d-block" src="/thumbs/640x480c/2018-06/{{ tutorial.image|default() }}" style="margin:0 auto;width:360px;">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h3 class="name" href="{{ tutorial.link }}">{{ tutorial.title }}</h3>
                        <p class="description">{{ tutorial.excerpt }}</p>
                        <div class="btn-toolbar">
                            <div class="btn-group" role="group" style="padding:15px;">
                                <a href="{{ tutorial.link }}">
                                    <button class="btn btn-light" type="button" style="padding-left:11px;margin-left:0px;margin-right:15px;">Zum Kurs</button>
                                </a>
                                <button class="btn btn-light" type="button" style="margin-right:15px;">Kursteilnahme beenden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endfor %} {% if tutorials is empty and creates is empty %}
        <article role="article" class="media">
            <div class="media-content">
                <div class="content">
                    <p>Sie haben noch keine Tutorials.</p>
                </div>
            </div>
        </article>
        {% endif %} {% elseif auth_has_role('Member') %} {% setcontent tutorialids = "abo" where {guid: guid} %}
        <div class="article-list" style="padding-bottom:15px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center">Meine Tutorien</h2>
                    </div>
                </div>
                {% for tutorialid in tutorialids %} {% setcontent tutorials = "tutorials/latest/6" where {id: tutorialid.tutorialid} %} {%
                for tutorial in tutorials %}
                <div class="row" style="padding-top:15px;padding-bottom:30px;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                {% if tutorial.image is not empty %}
                                <a href="{{ tutorial.link }}">
                                    <img class="img-fluid d-block" src="/thumbs/640x480c/2018-06/{{ tutorial.image|default() }}" style="margin:0 auto;width:360px;">
                                </a>
                                {% endif %}
                            </div>
                            <div class="col">
                                <h3 class="name" href="{{ tutorial.link }}">{{ tutorial.title }}</h3>
                                <p class="description">{{ tutorial.excerpt }}</p>
                                <div class="btn-toolbar">
                                    <div class="btn-group" role="group" style="padding:15px;">
                                        <a href="{{ tutorial.link }}">
                                            <button class="btn btn-light" type="button" style="padding-left:11px;margin-left:0px;margin-right:15px;">Zum Kurs</button>
                                        </a>
                                        <button class="btn btn-light" type="button" style="margin-right:15px;">Kursteilnahme beenden</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% if tutorials is empty %}
                <article role="article" class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>Sie haben noch keine Tutorials.</p>
                        </div>
                    </div>
                </article>
                {% endif %} {% endfor %} {% else %}
                <h4>Erstell dir ein Account, um Tutorials und die jeweiligen Fortschritte zu speichern.</h4>
                {% endif %} {% endblock %}
