<!doctype html>

{# Die Master wird erstellt. Von dieser Master erben alle von uns angezeigten Seiten #}
<html lang="{{ htmllang() }}">
    <head>
{# Die Meta-Daten werden definiert #}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

{# Wenn kein Titel definiert wurde, wird dieser aus der Konfig-Datei geholt #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        </title>
{# CSS-Style Sheet wird eingebunden #}
    <link rel="stylesheet" href=" {{asset('assets/bootstrap/css/bootstrap.min.css', 'theme')}}">
    <link rel="stylesheet" href="{{asset('assets/fonts/font-awesome.min.css', 'theme')}}">
    <link rel="stylesheet" href="{{asset('assets/fonts/ionicons.min.css', 'theme')}}">
    <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css?family=Cookie', 'theme')}}">
    <link rel="stylesheet" href="{{asset('assets/css/styles.min.css', 'theme')}}">
    </head>
{# Dir Route zur Homepage wird aus der Konfig-Datei geholt #}
    <body{% if app.request.get('_route') == "homepage" %} class="front"{% endif %}>
        {% block body %}
            <header role="banner" class="header">

{# Die Navbar, die bei uns als Header dient, wird eingebunden und ist somit überall zu sehen #}
            {{ include('partials/_navbar.twig') }}
            </header>
        
            {{ widgets('main_top') }}
            <a id="main-content"></a>
        
{# Der Main Block wird definiert, wo der Inhalt dargestellt wird, wenn jemand von dieser Seite erbt #}
            {% block main %}
            {% endblock main %}
            {{ widgets('main_bottom') }}
        {% endblock body %}
        
{# Der Footer, wird eingebunden und ist somit überall zu sehen #}        
        {{ include('partials/_footer.twig') }}   
        
{# JS wird eingebunden #}
        <script src="{{ asset('assets/js/jquery.min.js', 'theme')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js', 'theme')}}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
            <script src="{{asset('assets/js/script.min.js', 'theme')}}"></script>      
   </body>
</html>
