<<<<<<< HEAD
{% setcontent entries = "entries/latest/3" %}
    {#{{dump(record.related('pages'))}}#}

   




<aside role="complementary" class="sidebar">
  
<div>
    
     {% set relatedrecords = record.related() %}
    {% if relatedrecords is not empty %}
        <p>Related content:</p>
        <ul>
        {% for related in relatedrecords %}
            <li><a href="{{ related.link }}">{{ related.title }}</a></li>
        {%  endfor %}
        </ul>
    {% endif %}
=======
{% setcontent entries = "entries/latest/3" %}
    {#{{dump(record.related('pages'))}}#}

   




<aside role="complementary" class="sidebar">
  
<div>
    
     {% set relatedrecords = record.related() %}
    {% if relatedrecords is not empty %}
        <p>Related content:</p>
        <ul>
        {% for related in relatedrecords %}
            <li><a href="{{ related.link }}">{{ related.title }}</a></li>
        {%  endfor %}
        </ul>
    {% endif %}
>>>>>>> New
