<<<<<<< HEAD
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search">
         
            <div class="container-fluid">
                <a class="navbar-brand text-capitalize" href="{{ path('homepage') }}">
                {{ config.get('general/sitename') }}</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                 {% setcontent latespages='pages/latest/2' %}
                {%for page in latestpages %}       
                {{dump(page)}}
                {%endfor%}
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-capitalize" href="#">About Us</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-capitalize" href="#">News</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-capitalize" href="{{latestpages.link}}">Tutorials</a>
                        </li>
                       
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Sign In</a>
                            <div class="dropdown-menu" role="menu"></div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
=======
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search">
         
            <div class="container-fluid">
                <a class="navbar-brand text-capitalize" href="{{ path('homepage') }}">
                {{ config.get('general/sitename') }}</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                 {% setcontent latespages='pages/latest/2' %}
                {%for page in latestpages %}       
                {{dump(page)}}
                {%endfor%}
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-capitalize" href="#">About Us</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-capitalize" href="#">News</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-capitalize" href="{{latestpages.link}}">Tutorials</a>
                        </li>
                       
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Sign In</a>
                            <div class="dropdown-menu" role="menu"></div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
>>>>>>> New
